In [1]:
import pandas as pd
import numpy as np

In [2]:
def isNaN(num):
    return num != num

In [5]:
cell_anot = pd.read_csv('../data/large_screen/cell_annotation.txt', sep='\t', header=None, names=['cell_annotation', 'f1'])

In [6]:
cell_anot

                     cell_annotation             f1
0       A01_E09_RT_BC_100_Lig_BC_147  Chem3_Screen2
1       A01_E09_RT_BC_100_Lig_BC_186  Chem3_Screen2
2       A01_E09_RT_BC_100_Lig_BC_196  Chem3_Screen2
3       A01_E09_RT_BC_100_Lig_BC_213  Chem3_Screen2
4       A01_E09_RT_BC_100_Lig_BC_220  Chem3_Screen2
...                              ...            ...
799312    H12_F10_RT_BC_9_Lig_BC_237  Chem3_Screen2
799313    H12_F10_RT_BC_9_Lig_BC_274  Chem3_Screen2
799314    H12_F10_RT_BC_9_Lig_BC_291  Chem3_Screen2
799315    H12_F10_RT_BC_9_Lig_BC_298  Chem3_Screen2
799316      H12_F10_RT_BC_9_Lig_BC_4  Chem3_Screen2

[799317 rows x 2 columns]

In [17]:
treat_dose = pd.read_csv('../data/large_screen/treatment_nd_dose_metadata.txt', sep='\t')
treat_dose

      dose_character treatment                      name
0                  0     S0000                       NaN
1                  0     S0000                       NaN
2                  0     S0000                       NaN
3                  0     S0000                       NaN
4                  0     S0000                       NaN
...              ...       ...                       ...
4987           10000     S8567  Tucidinostat (Chidamide)
4988           10000     S8567  Tucidinostat (Chidamide)
4989           10000     S8567  Tucidinostat (Chidamide)
4990           10000     S8567  Tucidinostat (Chidamide)
4991           10000     S8567  Tucidinostat (Chidamide)

[4992 rows x 3 columns]

In [33]:
treat_dose.loc[isNaN(treat_dose.name), 'name'] = 'Control'
treat_dose.rename(columns={'treatment': 'drug_id', 'name': 'drug'}, inplace=True)
treat_dose

      dose_character drug_id                      drug
0                  0   S0000                   Control
1                  0   S0000                   Control
2                  0   S0000                   Control
3                  0   S0000                   Control
4                  0   S0000                   Control
...              ...     ...                       ...
4987           10000   S8567  Tucidinostat (Chidamide)
4988           10000   S8567  Tucidinostat (Chidamide)
4989           10000   S8567  Tucidinostat (Chidamide)
4990           10000   S8567  Tucidinostat (Chidamide)
4991           10000   S8567  Tucidinostat (Chidamide)

[4992 rows x 3 columns]

In [64]:
cell_type_ddtypesreat = pd.read_csv('../data/large_screen/cell_type_treat_dose.txt', sep=' ')
cell_type_dose_treat.rename(columns={'vehicle': 'drug_id', 'replicate': 'cell_type', 'treatment': 'dose', 'drug_dose': 'time'}, inplace=True)

There are some missing values for some cells, but such cell has a little count, so next it will be droped

In [65]:
for col in cell_type_dose_treat.columns:
    cell_type_dose_treat.loc[isNaN(cell_type_dose_treat[col]), col] = f'ni_{col}'

In [66]:
cell_type_dose_treat

,cell,cell_type,time,drug_id,dose
0,A01_E09_RT_BC_100_Lig_BC_147,MCF7,24.0,S2718,10000.0
1,A01_E09_RT_BC_100_Lig_BC_186,MCF7,24.0,S1143,10.0
2,A01_E09_RT_BC_100_Lig_BC_196,MCF7,24.0,S1090,1000.0
3,A01_E09_RT_BC_100_Lig_BC_213,A549,72.0,S1133,1000.0
4,A01_E09_RT_BC_100_Lig_BC_220,K562,24.0,S1692,10000.0
...,...,...,...,...,...
799312,H12_F10_RT_BC_9_Lig_BC_237,MCF7,24.0,S2391,1000.0
799313,H12_F10_RT_BC_9_Lig_BC_274,K562,24.0,S1140,10.0
799314,H12_F10_RT_BC_9_Lig_BC_291,MCF7,24.0,S1087,100.0
799315,H12_F10_RT_BC_9_Lig_BC_298,MCF7,24.0,S7207,100.0
799316,H12_F10_RT_BC_9_Lig_BC_4,ni_cell_type,ni_drug_dose,ni_drug_id,ni_dose

In [75]:
final_table = pd.merge(cell_type_dose_treat, treat_dose, on='drug_id', how='outer').drop_duplicates(subset='cell')

In [76]:
final_table = final_table.drop(columns='dose_character').reset_index(drop=True)

In [77]:
final_table

,cell,cell_type,time,drug_id,dose,drug
0,A01_E09_RT_BC_100_Lig_BC_147,MCF7,24.0,S2718,10000.0,TAK-901
1,A01_E09_RT_BC_11_Lig_BC_52,MCF7,24.0,S2718,10.0,TAK-901
2,A01_E09_RT_BC_125_Lig_BC_337,MCF7,24.0,S2718,10.0,TAK-901
3,A01_E09_RT_BC_184_Lig_BC_149,K562,24.0,S2718,100.0,TAK-901
4,A01_E09_RT_BC_184_Lig_BC_174,MCF7,24.0,S2718,10000.0,TAK-901
...,...,...,...,...,...,...
799312,H12_F10_RT_BC_326_Lig_BC_192,MCF7,24.0,S1443,10.0,Zileuton
799313,H12_F10_RT_BC_334_Lig_BC_276,K562,24.0,S1443,10000.0,Zileuton
799314,H12_F10_RT_BC_364_Lig_BC_117,A549,24.0,S1443,1000.0,Zileuton
799315,H12_F10_RT_BC_78_Lig_BC_160,MCF7,24.0,S1443,10.0,Zileuton
799316,H12_F10_RT_BC_89_Lig_BC_41,K562,24.0,S1443,1000.0,Zileuton

In [78]:
for col in final_table.columns:
    final_table.loc[isNaN(final_table[col]), col] = f'ni_{col}'

In [79]:
isNaN(final_table).sum()

cell         0
cell_type    0
time         0
drug_id      0
dose         0
drug         0
dtype: int64

In [80]:
final_table

,cell,cell_type,time,drug_id,dose,drug
0,A01_E09_RT_BC_100_Lig_BC_147,MCF7,24.0,S2718,10000.0,TAK-901
1,A01_E09_RT_BC_11_Lig_BC_52,MCF7,24.0,S2718,10.0,TAK-901
2,A01_E09_RT_BC_125_Lig_BC_337,MCF7,24.0,S2718,10.0,TAK-901
3,A01_E09_RT_BC_184_Lig_BC_149,K562,24.0,S2718,100.0,TAK-901
4,A01_E09_RT_BC_184_Lig_BC_174,MCF7,24.0,S2718,10000.0,TAK-901
...,...,...,...,...,...,...
799312,H12_F10_RT_BC_326_Lig_BC_192,MCF7,24.0,S1443,10.0,Zileuton
799313,H12_F10_RT_BC_334_Lig_BC_276,K562,24.0,S1443,10000.0,Zileuton
799314,H12_F10_RT_BC_364_Lig_BC_117,A549,24.0,S1443,1000.0,Zileuton
799315,H12_F10_RT_BC_78_Lig_BC_160,MCF7,24.0,S1443,10.0,Zileuton
799316,H12_F10_RT_BC_89_Lig_BC_41,K562,24.0,S1443,1000.0,Zileuton

In [81]:
final_table.to_csv('../data/large_screen/cell_type_drug_dose.txt', sep='\t')